.wrapper{
    margin-top: 40px;
    padding: 0 80px;
}

.text-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    letter-spacing: 1px;
}

.to-view{
    text-decoration: none;
    color: #ff9c25;
    font-size: 1.4rem;
}