.wrapper{
    margin-top: 100px;
    padding: 0 80px;
}

.text-header{
    display: flex;
    flex-direction: column;
    align-items: center;

    i{
        margin-top: 10px;
        font-size: 2rem;
        color: rgb(228, 152, 30);
    }
    
}

.title{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.4rem;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: -60px;
    width: 150px;
    height: 1.5px;
    background-color: rgb(176, 162, 162);
}
.title::before{
    content: "";
    position: absolute;
    bottom: -20px;
    right: -60px;
    width: 150px;
    height: 1.5px;
    background-color: rgb(176, 162, 162);
}

.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col{
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 30px;
}

.l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

