.wrapper{
    margin-top: 40px;
    padding: 0 80px;
}

.text-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    letter-spacing: 1px;
}

.to-view{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.4rem;
}

.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col{
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 30px;
}

.l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

