.wrapper{
    margin-top: 100px;
    margin-bottom: 30px;
}

.title{

}

.text{
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.dot{
    position: absolute;
    top: 120%;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.content{
    margin-top: 30px;
    color: rgb(122, 118, 118);
}