.container{
    padding-top: 30px;
}

.view-all{
    display: flex;
    justify-content: center;
    margin: 60px 0px 80px;
}

.to{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #3686ae;
    padding: 14px 50px;
    border-radius: 30px;
}

