.wrapper{
    padding: 20px 60px 0px;
}

.title{
    color: rgb(134, 129, 129);
}

.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.col{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 10px;
}

.l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.l-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
