
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col{
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 30px;
}

.l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
