.wrapper{
    margin-top: 60px;
    padding: 20px 14px 30px 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px #878282;
}

.title{
    text-align: center;
    color: rgb(146, 138, 138);
    margin-top: 10px;
}

.list{
    list-style: none;
    margin-top: 30px;
}

.item{
    margin-top: 20px;
}

.link{
    text-decoration: none;
    display: flex;
    color: rgb(76, 72, 72);
    align-items: center;
}

.dot{
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 6px;
}

.name{
    flex: 1;
}

.quantity{
    margin-right: 20px;
}
