.wrapper {
    display: flex;
    align-items: center;
    padding: 0 14px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.input{
    border: none;
    outline: none;
    margin-right: 12px;
    height: 18px;
    background-color: transparent;
    font-size: 1.4rem;
}

.input:focus{
    border-bottom: 1px solid rgb(49, 47, 47);
}


.input-label{
    cursor: pointer;
}