.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 0px 6px 50px;
    font-size: 1.5rem;
    background-color: #fff;
    margin-right: 100px;
    border-radius: 20px;
    position: relative;
}

.input{
    padding-right: 80px;
    border: none;
    outline: none;
    margin-right: 12px;
    height: 18px;
    background-color: transparent;
    font-size: 1.4rem;
}

.input-label{
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: #fff;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}